# Mac OS
_DS_Store

# Virtual Environment
.venv/
venv/
.env

# IDE & Cache & Python
*.lock
.python-version
.vscode/
__pycache__/
.pytest_cache/
.ruff_cache/
.mypy_cache/
*.egg-info/

# AI Folder
shrimp_data/
*mcp.json
.serena/

# Service
reports/
logs/